.questionnaire-card {
  background: #fff;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  margin-top: 1rem;
  color: #006C68;
  background:#ecfeff;
}

.questionnaire-card label {
  margin-top: 1rem;
  font-weight: 500;
  display: block;
}

.questionnaire-card .input-group {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.75rem;
  border: 1px solid #000;
  border-radius: 9999px;
  margin-bottom: 1rem;
  color: #006C68;
}

.questionnaire-card select {
  border: none;
  outline: none;
  font-size: 1rem;
  flex: 1;
  background: transparent;
  color: #006C68;
}
